@media all and (max-width: 1370px) {
    .host {
      display: flex;
      flex-direction: column-reverse;
      height: auto;
      width: 100%;
    }
    .host_aside {
      margin-bottom: 40px;
      width: 100%;
    }
  
    .host_aside_bloc {
      width: 95%;
  
    }
  
    .host_body_bloc_figure {
      width: auto;
    }
  
    .host_aside_bloc_pic {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 1.5rem 0 0 1.5rem;
    }
    .host_body {
      display: flex;
      width: 100%;
      margin-bottom: 20px;
    }
  
    .host_body_square {
      display: flex;
      flex-direction: row;
    }
  
    .host_body_square1 {
      display: flex;
      flex-direction: column;
      width: 50%;
    }
  
    .host_body_square2 {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin-bottom: 15px;
    }
  
    .host_aside {
      margin-bottom: 40px;
      width: 100%;
    }
  
    .host_aside_bloc {
      width: 95%;
  
    }
  
    .host_body_bloc_figure {
      width: auto;
    }
  
    .host_aside_bloc_pic {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 1.5rem 0 0 1.5rem;
    }
  
  
  }
  @media all and (max-width: 992px) {
    .bloc_page {
      width: 100%;
    }
  
    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .menu {
      display: flex;
      justify-content: center;
      margin-left: -50px;
    }
  
    .menu_head {
      border-top: none;
      border-bottom: 2px solid #0065FC;
      padding-bottom: 20px;
    }
  
    .menu_head2 {
      padding-bottom: 20px;
    }
  
    .menu_head2:hover {
      color: #0065FC;
      border-top: none;
      border-bottom: 2px solid #0065FC;
    }
  
    .menu_signup {
      padding-bottom: 20px;
    }
  
    .search_bloc_main {
      display: flex;
      flex-direction: column;
    }
  
    .search_filter {
      display: flex;
    }
  
    .search_bloc_filter {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .activity {
      display: flex;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 180px;
    }
  
    .activity_header {
      margin: 0px 0px 0px 50px;
    }
  
    #ancre2 {
      margin-bottom: 0px;
    }
  
    .activity_bloc {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 900px;
      width: 100%;
    }
  
    .activity_link {
      height: 260px;
      width: auto;
    }
  
    .activity_bloc>.activity_link {
      width: 50%;
    }
  
    .activity_bloc1 {
      height: 220px;
      width: auto;
      padding-bottom: 40px;
      margin: 20px;
    }
  
    .activity_column1 {
      width: 50%;
      margin: 60px 0px 0px 0px;
      align-items: center;
    }
  
    .activity_column2 {
      width: 50%;
      margin: 60px 0px 0px 0px;
      align-items: center;
    }
  
    .activity_bloc2 {
      height: 220px;
      width: auto;
      margin: 20px;
    }
  
    .activity_bloc3 {
      height: 220px;
      width: auto;
      margin: 80px 20px 20px 20px;
    }
  
    .footer {
      width: 100%;
    }
  
    .footer_menu {
      width: auto;
      display: flex;
      justify-content: flex-start;
    }
  
    .footer_menu_2 {
      padding: 0px 0px 0px 20px;
    }
  
    .footer_menu_3 {
      padding: 0px 0px 0px 20px;
    }
  
  }
  @media all and (max-width: 576px) {
    .bloc_page {
      width: 100%;
    }
  
    .header{
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: flex-start;
    }
  
    .mobile_shaping {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  
    .logo {
      padding: 0px;
      margin-left: 0;
    }
  
    .menu{
      margin-left: 0px;
      width: 100%;
    }
  
    .menu_signup {
      position: relative;
      top: -80px;
      left: -55px;
    }
  
    .left {
      width: 100%;
      display: flex;
      margin-left: 40px;
      justify-content: space-between;
    }
  
    nav ul {
      width: 100%;
      padding: 0px;
    }
  
    .menu_head {
      padding: 20px 50px;
      width: 50%;
    }
  
    .menu_head2 {

      padding: 20px 50px;
      width: 50%;
      font-weight: normal;
      display: inline;
      width: 50%;
      border-bottom: 3px solid #F2F2F2;
      padding-bottom: 10px;
    }
  
    .menu_head2:hover {
      padding-top: 0;
    }
  
    .colortext {
      color: #0065FC;
    }
  
    .search_search {
      width: 100%;
    }
  
    .search_button {
      display: none;
    }
  
    .search_glass {
      display: flex;
      align-items: center;
      background-color: #0065FC;
      color: white;
      border-radius: 01rem 1rem 1rem 1rem;
      border: none;
      font-weight: bold;
      cursor: pointer;
      padding: 14px;
    }
  
    .host_body {
      height: auto;
    }
  
    .host_body_square {
      display: flex;
      flex-direction: column;
    }
  
    .host_body_square1 {
      width: 100%;
    }
  
    .host_body_square2 {
      width: 100%;
    }
  
    .activity {
      display: flex;
      align-items: center;
    }
  
    .activity_header {
      margin-bottom: 30px;
    }
  
    .activity_bloc {
      height: auto;
    }
  
    .activity_bloc>.activity_link {
      width: 100%;
    }
  
    .activity_column1 {
      width: 100%;
      margin-bottom: 120px;
    }
  
    .activity_column2 {
      width: 100%;
    }
  
    .footer_menu {
      flex-direction: column;
    }
  
    .footer_menu_1 {
      padding-left: 20px;
    }
  
    .footer_menu_2 {
      padding: 20px 0px 0px 20px;
    }
  }