@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('Raleway.eot') format('eot'),
         url('Raleway.woff') format('woff'),
         url('Raleway.ttf') format('truetype'),
         url('Raleway.svg') format('svg');
}
* {
    font-family : Raleway;
    margin: 10px;
    }
footer {
    background-color: #F2F2F2;
    padding: 10px;
    margin: 10px 10px;
}
.menu {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
.menu ul {
    display: flex;
    align-items: center;
    list-style-type:none;
}
.menu ul li a {
    padding: 35px;
    text-decoration:none
}
.menu  {
    position: absolute;
    top: 0px;
    right: 10px;
}
.ryu {
    color: black;
    text-shadow: 0px 0px 1px black;
}
.ken {
    color: #0065FC;
    border-top: 3px solid #0065FC;
    text-shadow: 0px 0px 1px #0065fc
}
.bison {
    color: #0065fc;
    font-weight: bold;
    text-shadow: 0px 0px 1px #0065fc ;
}
header img {
    height: 50px;
    width: 100px;
}
h1 {
font-weight: bold;
text-shadow: 0px 0px 1px black;
}
h2 {
    font-weight: bold;
text-shadow: 0px 0px 1px black;
border: 1px solid #F2F2F2;
    border-radius: 10px;
    background-color:#F2F2F2;
    padding: 10px;
    margin: 10px 10px;
}
h3 {
    font-weight: bold;
text-shadow: 0px 0px 1px black;
border: 1px solid #F2F2F2;
    border-radius: 10px;
    background-color:#F2F2F2;
    padding: 10px;
    margin: 10px 10px;
}
h4 {
    font-weight: bold;
text-shadow: 0px 0px 1px black;
border: 1px solid #F2F2F2;
    border-radius: 10px;
    background-color:#F2F2F2;
    padding: 10px;
    margin: 10px 10px;
}
input {
padding: 10px;
margin: 10px 10px;
}
input[type=text] {
    border: 1px solid #F2F2F2;
    border-radius: 10px / 10px;
    font-weight: bold;
    text-shadow: 0px 0px 1px black;
}
input[type=submit] {
    border: 1px solid #0065fc;
    border-radius: 10px;
    background-color:#0065fc;
    color: white;
  
    text-shadow: 0px 0px 1px white;
}
.localisation {
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    background-color:#F2F2F2;
    padding: 10px;
    margin: 10px 10px;
}
.filtre {
    font-weight: bold;
    text-shadow: 0px 0px 1px black;
}
.billet {
    background-color:#DEEBFF;
    color: #0065fc;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 20px;
}
.famille {
    background-color:#DEEBFF;
    color: #0065fc;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 20px;
}
.amour {
    background-color:#DEEBFF;
    color: #0065fc;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 20px;
}
.animal {
    background-color:#DEEBFF;
    color: #0065fc;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 20px;
}
.info {
    background-color:#0065fc;
    color:white;
    padding: 1px;
    margin: 1px 1px;
    border-radius: 10px;
    border: 1px solid #F2F2F2;
}
