@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('Raleway.eot') format('eot'),
         url('Raleway.woff') format('woff'),
         url('Raleway.ttf') format('truetype'),
         url('Raleway.svg') format('svg');
}
* {
    font-family : Raleway
    }