@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('Raleway.eot') format('eot'),
         url('Raleway.woff') format('woff'),
         url('Raleway.ttf') format('truetype'),
         url('Raleway.svg') format('svg');
}
body {
    font-family : "Raleway", "sans-serif";
    margin: 0;   

    }
a {
    color: inherit;
    text-decoration: none;
}
.MainContainer {
    max-width: 1440px;
}
footer {
    background-color: #F2F2F2;
}
.footerbloc {
    display: flex;
    margin: auto;
    padding: 0 32px;
    box-sizing: border-box;
}
.footercolonne {

    padding: 32px 32px;
}
.footerlink {
    display: block;
    margin: 16px 0;
}
.footerlink:hover {
    text-decoration: underline;
}
.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 60em;
    font-weight:normal;
    margin-top: 2em;
}
.menu ul {
    display: flex;
    align-items: center;
    list-style-type:none;
}
.menu ul li a {
    padding: 23px;
    text-decoration:none
}

.black {
    color: black;

}
.selected {
    color: #0065FC;
    border-top: 3px solid #0065FC;

}
.bold {
    color: #0065fc;
    font-weight: bold;
}
header img {
    height: 50px;
    width: 100px;
}
h1 {
font-weight: bold;

}
h2 {
    font-weight: bold;
border: 1px solid #F2F2F2;
    border-radius: 10px;
    background-color:#F2F2F2;
    padding: 10px;
    margin: 10px 10px;
}
h3 {
    font-weight: bold;
border: 1px solid #F2F2F2;
    border-radius: 10px;
    background-color:#F2F2F2;
    padding: 10px;
    margin: 10px 10px;
}
h4 {
    font-weight: bold;
border: 1px solid #F2F2F2;
    border-radius: 10px;
    background-color:#F2F2F2;
    padding: 10px;
    margin: 10px 10px;
}
input[type=text] {
    border: 1px solid #F2F2F2;
    border-right: none;
    border-left: none;
    font-weight: bold;
    padding: 13px 0 13px 24px;
    box-sizing: border-box;
    width: 224px;
    font-size: 16px;
}
input[type=submit] {
    background-color:#0065fc;
    color: white;
  border-radius: 0 16px 16px 0;
  padding: 13px 24px 13px 24px;
  border: 1px solid #0065fc;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}
.localisation {
    border-radius: 16px 0 0 16px;
    background-color:#F2F2F2;
    padding: 16px 20px;
    text-align: center;
    margin-left: 1.6px;
}
.filtre {
    font-weight: bold;

}
.filtres {
    background-color:#DEEBFF;
    color: #0065fc;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 20px;
}
.info {
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F2F2F2;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50px;
    margin-right: 14px;
}
.accommodation {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 6fr 3fr;
}
.blue {
    color:#0065fc;
}
.grey {
color: #F2F2F2;
}
.accommodationPopular, .accommodationMain {
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 2rem;
}
.accommodationMain {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
}
.accommodationMainHeader {
    grid-column: 1/-1;
}
.accommodationHeaderTitle {
    margin: 0;
}
.accommodationMainArticle {
    background-color: white;
  padding: 0.375rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;
}
.accommodationMainArticle:hover {
    transform: scale(1.02);
}
.accommodationMainFigure {
    margin: 0;
}
.accommodationMainFigureImg {
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}
.accommodationFigureCaption {
    margin: 0.25rem 0.75rem 0 0.75rem;
}
.accommodationMainDesc {
    margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}
.accommodationMainDescPrice {
    font-weight: bold;
}
.accommodationMainStar {
    margin: 0 0.75rem 0.25rem 0.75rem;
}
.accommodationMainStarIcon[data-active=true] {
    color: #0065FC;
}
.accommodationMainStarIcon[data-active=false] {
    color: #F2F2F2;
}   
.accomodationMainViewMore {
    font-weight: bold;
}
.accommodationPopular {
    display: grid;
    row-gap: 2rem;
    align-items: start;
    grid-template-rows: auto repeat(3, 1fr);
}
.accommodationPopularTitle {
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.accommodationPopularContent {
    display: flex;
    align-items: stretch;
    height: 100%;
    overflow: auto;
}
.accommodationPopularContentImg {
    position: relative;
    min-height: 100%;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
}
.accommodationPopularImg {
    border-radius: 1rem 0 0 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.accommodationPopularWrapContent {
    display: flex;
    flex-direction: column;
}
.accommodationPopularWrapContentWhitespace {
    flex: 1;
}
.accommodationPopularaccommodationMainArticle {
    height: 8.75rem;
}